body {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
    align-items: flex-start; 
}

#bookFormContainer, #bookshelfContainer {
    width: 45%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0168FC; /* Синій колір обводки */
    border-radius: 4px;
}

input[type="submit"] {
    width: 35%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0168FC; 
    border-radius: 4px;
    background-color: #0168FC;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
}

input[type="submit"]:hover {
    border-radius: 1000px;
    background:  #3c587f;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    display: inline-block; 
    margin-right: 10px; 
    margin-bottom: 5px;
}
